*{
    margin: 0px;
    padding: 0px;
}

body{
    position: absolute;
    width: 100%;
}


#starBoard{
    position: relative;
    width: 800px;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #000000;
}

.scoreAnimation{
    position: absolute;
    color: cadetblue;
    font-weight: bold;
    font-size: 22px;
    -webkit-transition: top 2s, left 2s;
}

.starFrame{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.star{
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 40px;
    -webkit-animation: twinkleStar 1.5s;
}



@keyframes twinkleStar {
    0%{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        opacity: 1;
    }
    35%{
        width: 56px;
        height: 56px;
        border-radius: 56px;
        opacity: 1;
    }
    70%{
        width: 60px;
        height: 60px;
        border-radius: 60px;
        opacity: 0.6;
    }
    100%{
        width: 60px;
        height: 60px;
        border-radius: 60px;
        opacity: 0;
    }

}

.afterTouchStar{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #000000;
    opacity: 0.2;
    -webkit-animation: afterTouchStarAnimation 0.8s;
}

@keyframes afterTouchStarAnimation {
    0%{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        opacity: 0.2;
    }
    8%{
        width: 20px;
        height: 20px;
        border-radius: 20px;
        opacity: 1;
    }
    100%{
        width: 15px;
        height: 15px;
        border-radius: 15px;
        opacity: 0;
    }
}

#figureBoard{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: absolute;
    top: 0px;
    left: 0px;
}

#score{

}

#life{

}