*{
    margin: 0px;
    padding: 0px;
}


#startAnimation{

}

#startBtu{
    position: relative;
    width: 100px;
    margin: auto;

    text-align: center;
    background-color: brown;
    color: #ffffff;
}

.copyright{

}